  /* Navbar */
  
  header {
    background-color: var(--lightgrey);
    width: 100%;
    padding-top: 50px;
  }
  
  nav.mobile.nav {
    display: none;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--white);
    height: 110px;
    white-space: nowrap;
    top: 40px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
  }
  
  .focuswidth {
    display: none;
  }
  
  .desktop-nav-container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-top {
    top: 0 !important;
  }
  
  nav .logo {
    font-family: "Integral CF Bold", serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    margin: 0;
  }
  
  nav ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: none;
    color: var(--black);
    transition: all 0.2s ease-in-out;
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    left: 0;
    padding: 0;
    display: none;
    background-color: var(--white);
    width: 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
  }
  
  .dropdown-icon {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
  }
  
  #shhopanchor {
    padding-bottom: 50px;
  }
  
  .dropdown-container .dropdown .sections-container {
    display: none;
  }
  
  .dropdown-container .dropdown .sections-container .sections {
    display: flex;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: var(--darkgrey);
    border-radius: 30px;
    padding: 10px 15px;
    width: 180px;
    flex-grow: 1;
    height: 48px;
    margin-left: 40px;
  }
  
  .search-container input {
    font-family: "Satoshi", sans-serif;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
  }
  
  .search-container svg {
    width: 20px;
    height: 20px;
    fill: var(--svgcolor);
    margin-right: 10px;
  }

   /* Media Query for Tablet */
  
   @media (max-width: 1100px) {
  
    /* Navbar */
  
    nav.desktop.nav {
      display: none;
    }
  
    nav.mobile.nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 999;
      background-color: var(--white);
      height: 110px;
      white-space: nowrap;
      top: 40px;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: top 0.3s ease;
      position: fixed;
    }
  
    nav.mobile.nav .left-mobile-nav {
      display: flex;
    }
  
    nav.mobile.nav .menu-icon {
      display: flex;
      padding-bottom: 2px;
    }
  
    .focuswidth {
      display: flex;
    }
  
    .transparentbkg {
      position: fixed;
      height: 100vh;
      width: 50%;
      right: 0;
      z-index: 200;
      bottom: 100%;
    }
  
    .transparentbkg.active {
      bottom: 0;
    }
  
    .mobile-nav-container {
      position: fixed;
      height: 100vh;
      width: 50%;
      bottom: 100%;
      left: 0;
      background-color: var(--navcontainer);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 200;
      transition: all 800ms ease;
    }
  
    .mobile-nav-container.active {
      bottom: 0;
    }
  
    .mobile.nav .menu-icon {
      transition: all 0.1s ease-in-out;
    }
  
    .mobile.nav .menu-icon:active {
      transform: scale(1.2);
    }
  
    .mobile.nav .logo {
      font-family: "Integral CF Bold", serif;
      font-size: 26px;
      line-height: 20px;
      color: var(--black);
      text-decoration: none;
      margin-left: 20px;
    }
  
    .mobile-nav-container ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
  
    #shhopanchor {
      padding-left: 10px;
    }
  
    .mobile-nav-container ul li a {
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
      text-decoration: none;
      color: var(--white);
    }
   }

  /* Media Query for Phone */
  
  @media (max-width: 700px) {
  
    /* Navbar */
  
    nav.mobile.nav {
      height: 64px;
      top: 34px;
      justify-content: space-between;
    }
  
    nav.mobile.nav .search-container {
      display: none;
    }
  
    nav ul {
      gap: 12px;
    }
  }